<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" parameterType="com.sky.entity.Dish">
        INSERT INTO dish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="price != null">price,</if>
            <if test="image != null">image,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null">#{image},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
        </trim>
    </insert>
    <update id="update" parameterType="com.sky.entity.Dish">
        UPDATE dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="list" resultType="com.sky.entity.Dish">
    select  * from  dish
    <where>
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="categoryId!=null">and category_id=#{categoryId}</if>
        <if test="status!=null">and status=#{status} </if>
    </where>
    order by  id desc
</select>
    <select id="getOne" resultType="com.sky.entity.Dish">
        SELECT * FROM dish
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="price != null">
                AND price = #{price}
            </if>
            <if test="image != null and image != ''">
                AND image = #{image}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
            <if test="createUser != null">
                AND create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                AND update_user = #{updateUser}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>
    <select id="getList" resultType="com.sky.entity.Dish">
        SELECT * FROM dish
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="price != null">
                AND price = #{price}
            </if>
            <if test="image != null and image != ''">
                AND image = #{image}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
            <if test="createUser != null">
                AND create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                AND update_user = #{updateUser}
            </if>
        </where>
    </select>
</mapper>