<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <insert id="insert" parameterType="Setmeal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO setmeal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="description != null">description,</if>
            <if test="image != null">image,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null">#{description},</if>
            <if test="image != null">#{image},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
        </trim>
    </insert>
    <update id="update" parameterType="Setmeal">
        UPDATE setmeal
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getPage" resultType="com.sky.entity.Setmeal">
    SELECT * FROM setmeal
    <where>
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status!=null">
             and status=#{status}
        </if>
    </where>
    order by update_time
    </select>
        <select id="list" parameterType="Setmeal" resultType="Setmeal">
            select * from setmeal
            <where>
                <if test="name != null"> and name like concat('%',#{name},'%') </if>
                <if test="categoryId != null"> and category_id = #{categoryId} </if>
                <if test="status != null"> and status = #{status} </if>
            </where>
        </select>
</mapper>